.card {
    box-shadow: 0 4px 8px 0 rgba(157, 157, 157, 0.2);
    transition: 0.3s;
    width: 12em;
    background-color: #552583;
    color: #FDB927;
    font-size: larger;
}

.card p {
    font-weight: bolder;
}